/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%; }

body {
  font: 14px/1.7 Roboto, Arial, Helvetica, sans-serif;
  min-width: 1156px;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-direction: column;
      flex-direction: column; }

*,
*::after,
*::before {
  box-sizing: border-box; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

a {
  text-decoration: none;
  color: #303030; }
  a:hover, a:focus {
    text-decoration: underline; }

.btn {
  border: 0;
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 6px 33px 7px; }
  .btn:hover, .btn:focus {
    text-decoration: underline;
    cursor: pointer; }

.text-color1 {
  color: #26bf6e; }

.page-wrapper {
  background-image: linear-gradient(48deg, #eeeeee, #fafafa);
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  /* 2 */
  -ms-flex-direction: row;
      flex-direction: row; }

.page-container {
  -ms-flex: 1;
      flex: 1;
  padding: 32px 32px 64px; }

.page-content {
  width: 952px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.05); }
  @media screen and (max-width: 1419px) {
    .page-content {
      width: 888px; } }
  @media screen and (max-width: 1179px) {
    .page-content {
      width: 772px; } }

.page-sidebar {
  background: #303030;
  padding: 19px 16px;
  color: #fff;
  -ms-flex-order: -1;
      order: -1;
  -ms-flex: 0 0 508px;
      flex: 0 0 508px;
  width: 508px; }
  @media screen and (max-width: 1419px) {
    .page-sidebar {
      -ms-flex: 0 0 444px;
          flex: 0 0 444px;
      width: 444px; } }
  @media screen and (max-width: 1179px) {
    .page-sidebar {
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
      width: 320px; } }

.menu-btn-switcher {
  border: 0;
  box-shadow: none;
  cursor: pointer;
  float: left;
  font-size: 0;
  height: 24px;
  margin: 0 16px 0 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-indent: -9999px;
  transition: background 0.3s ease 0s;
  width: 24px;
  background: none; }
  .menu-btn-switcher:focus {
    outline: none; }
  .menu-btn-switcher > span {
    display: block;
    position: absolute;
    top: 11px;
    left: 4px;
    right: 4px;
    height: 2px;
    background: #fff;
    transition: transform 0.3s; }
    .menu-btn-switcher > span::before, .menu-btn-switcher > span::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      content: ""; }
    .menu-btn-switcher > span::before {
      top: -6px; }
    .menu-btn-switcher > span::after {
      bottom: -6px; }
    .menu-btn-switcher > span::before {
      transform-origin: top right;
      transition: transform 0.3s, width 0.3s, top 0.3s; }
    .menu-btn-switcher > span::after {
      transform-origin: bottom right;
      transition: transform 0.3s, width 0.3s, bottom 0.3s; }
  .menu-btn-switcher.active {
    background-color: #9a9a9a; }
    .menu-btn-switcher.active > span {
      transform: rotate(180deg); }
      .menu-btn-switcher.active > span::before, .menu-btn-switcher.active > span::after {
        width: 50%; }
      .menu-btn-switcher.active > span::before {
        top: 0;
        transform: translateX(8px) translateY(1px) rotate(45deg); }
      .menu-btn-switcher.active > span::after {
        bottom: 0;
        transform: translateX(8px) translateY(-1px) rotate(-45deg); }

.brand {
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff; }

.sidebar__head, .sidebar__btn {
  margin-bottom: 15px; }

.sidebar__block {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 -16px 11px; }

.block {
  margin-bottom: 12px; }
  .block__title {
    padding: 12px 16px; }
  .block__list {
    margin: 0; }

.s-list__item {
  position: relative; }

.s-list__link {
  color: #fff;
  padding: 12px 16px;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  z-index: 0; }
  .s-list__link::after {
    content: "";
    position: absolute;
    transition: all 0.5s ease 0s;
    z-index: -1;
    background: #ffd840;
    height: 100%;
    left: 0;
    top: 0;
    width: 0; }
  .s-list__link--new {
    background: #ffd840;
    font-weight: bold;
    color: #303030;
    text-decoration: none; }
  .s-list__link:hover {
    font-weight: bold;
    color: #303030;
    text-decoration: none; }
    .s-list__link:hover::after {
      width: 100%; }
  .s-list__link:focus {
    font-weight: bold;
    color: #303030;
    background: #ffd840; }

.s-list__img-holder {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.s-list__img {
  width: 100%;
  height: 100%; }

.s-list__link--new .s-list__img-holder {
  background: rgba(255, 255, 255, 0.6); }

ul.tabset {
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset; }
  ul.tabset li {
    float: left;
    width: 20%; }
  ul.tabset a {
    color: #303030;
    display: block;
    padding: 12px;
    text-decoration: none;
    border-bottom: 2px solid transparent; }
  ul.tabset li.active a {
    text-decoration: none; }
  ul.tabset a.active {
    border-bottom-color: #303030;
    text-decoration: none;
    font-weight: bold; }
  ul.tabset a:hover {
    text-decoration: none;
    font-weight: bold; }

.tab-list {
  overflow: hidden; }
  .tab-list .tab {
    overflow: hidden;
    padding: 16px; }
    .tab-list .tab__row {
      margin: 0 -16px 24px;
      padding: 12px 48px 27px;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset; }
    .tab-list .tab__label {
      float: left;
      width: 168px;
      margin-right: 16px; }
    .tab-list .tab__container {
      margin-bottom: 16px; }
    .tab-list .tab__col {
      float: left;
      width: 196px;
      padding: 4px; }
      .tab-list .tab__col .img-check {
        fill: #26bf6e;
        position: relative;
        top: 3px;
        margin-right: 5px; }
    .tab-list .tab__list1 {
      overflow: hidden; }

.list {
  font-size: 0;
  line-height: 0;
  letter-spacing: -4px;
  margin-left: -16px;
  margin-bottom: 4px; }
  .list__item {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 12px 16px;
    width: 25%; }
    @media screen and (max-width: 1179px) {
      .list__item {
        width: 33%; } }
  .list__link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: normal; }
    .list__link:hover {
      text-decoration: none; }
  .list__photo-holder {
    width: 164px;
    height: 164px;
    background-color: rgba(0, 0, 0, 0.05);
    background-image: url("../images/plus.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    margin: 4px 0;
    position: relative; }
    .list__photo-holder::after {
      position: absolute;
      content: '';
      z-index: 1;
      border-radius: 50%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transition: all 1s ease 0s;
      background-color: transparent; }
    .list__photo-holder:hover {
      background-color: rgba(0, 0, 0, 0.1); }
      .list__photo-holder:hover::after {
        background: rgba(0, 0, 0, 0.1); }
    @media screen and (min-width: 1157px) and (max-width: 1419px) {
      .list__photo-holder {
        width: 148px;
        height: 148px; } }
    @media screen and (max-width: 1179px) {
      .list__photo-holder {
        width: 164px;
        height: 164px; } }
  .list__photo {
    border-radius: 50%;
    display: block;
    width: 100%;
    height: auto; }
  .list__text {
    text-align: center;
    margin-bottom: 12px; }

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px; }
  .switch input {
    opacity: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
  transition: .4s;
  border-radius: 34px; }
  .slider:before, .slider:after {
    position: absolute;
    content: "";
    transition: .4s;
    border-radius: 50%; }
  .slider:before {
    height: 24px;
    width: 24px;
    left: -4px;
    bottom: -2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 0 1px 0 rgba(0, 0, 0, 0.2);
    z-index: 2; }

input:checked + .slider {
  background-color: #303030; }

input:focus + .slider:after {
  height: 32px;
  width: 32px;
  left: -8px;
  bottom: -6px;
  background-color: rgba(255, 216, 64, 0.6);
  z-index: 1; }

input:checked + .slider:after, input:checked + .slider:before {
  transform: translateX(26px); }

input:active:checked + .slider {
  background: #ffc620; }

input:active + .slider:before {
  width: 28px;
  border-radius: 12px; }
